@font-face {
  font-family: "IBMPlexSansArabic";
  font-style: normal;
  src: url(https://hossny94.github.io/IBMPlexSansArabic-Regular.woff2)
    format("woff2");
}

@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  font-style: normal;
  src: url(https://hossny94.github.io/IBMPlexSansArabic-Bold.woff2)
    format("woff2");
}
