@font-face {
  font-family: "IBMPlexSansArabic";
  font-style: normal;
  font-weight: 400;
  src: url(./IBMPlexSansArabic-Regular.woff2)
    format("woff2");
}

@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(./IBMPlexSansArabic-Bold.woff2)
    format("woff2");
}
